.menu li :hover
      {
      cursor:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRidR-wLB14dLgLIFp6Lmp1_CwTF_kKcruWZN7-Adv32STLAqUnuudmVj2k&s=10), auto;
      background-color:red;
      margin-top: -2;
      padding-bottom: 12px;
      }